{% load static %}
<link rel="stylesheet" href="{% static 'css/login_page.css'%}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="simple-login-container">
    <h2>Login Form</h2>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12 form-group">
                <input type="text" class="form-control" placeholder="Username" name="username">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <input type="text" placeholder="Enter your Password" class="form-control" name="password">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <input type="submit" class="btn btn-block btn-login" placeholder="Enter your Password" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="https://1.envato.market/ydVvD">Download Best Theme</a>
            </div>
        </div>
    </form>
</div>