{% extends 'diary/base.html' %}
{% block content %}
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
      id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="well">
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane active in" id="home">
            <form id="tab">
                <label>First Name</label>
                <input type="text" value="{{teacher.first_name}}" class="input-xlarge">
            </form>
        </div>
    </div>
</div>
{% for subject in subjects %}
<a href="{% url 'magazine' subject.id%}">{{subject.name_lesson}}</a>
{% endfor %}
{% endblock %}